<!-- HEADER BLOCK -->
<header class="header-block header-block-3">
  <div class="header-wrap">
  	<div class="container-fluid d-flex align-items-center justify-content-center py-3 border-bottom collapse-space-between collapse-border-0">
    	<jdoc:include type="element" name="logo" />

    	<div class="t6-nav-toggle t6-header-r d-flex align-items-center">
	    	<jdoc:include type="element" name="offcanvas-toggle" />
        <div class="collapse-flex">
	    	  <jdoc:include type="element" name="megamenu-toggle" />
        </div>
	    </div>
    </div>

    <div class="t6-navbar t6-nav-height-sm d-flex justify-content-center">
      <jdoc:include type="element" name="megamenu" />
    </div>
  </div>
</header>
<!-- // HEADER BLOCK -->